<section class="hero mx-3 overflow-hidden position-relative py-4 py-lg-5 rounded-4 bg-light hero-about bg-bottom js-bg-image bg-cover" data-image-src="assets/camiwa/images/pattern.svg">
    <!-- <img class="bg-image" src="assets/camiwa/images/header/01.jpg" alt="Image"> -->
    <div class="container overlay-content py-5">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <!-- start section header -->
                <div class="section-header text-center" data-aos="fade-down">
                    <!-- start description -->
                    <div class="bg-primary d-inline-block fs-14 mb-3 px-4 py-2 rounded-5 sub-title text-white">SOMOS EL DIRECTORIO PARA ESPECIALISTAS EN SALUD Y BIENESTAR</div>
                    <!-- end /. section header sub title -->
                    <!-- start section header -->
                    <h2 class="display-4 fw-semibold mb-3 section-header__title mb-0">Camiwa es la plataforma líder en conectar a los amantes del bienestar y la salud con una variedad de especialistas y servicios de calidad.</h2>
                    <!-- end /. section header title -->
                </div>
                <!-- end /. section header -->
            </div>
        </div>
    </div>
</section>
<div class="container">
    <!-- start about video -->
    <div class="about-video position-relative mx-3 rounded-4 overflow-hidden about-video-top">
        <!-- Image Parallax -->
        <img src="assets/camiwa/images/about/bg-02.jpg" alt="" class="about-img js-image-parallax">
        <a class="align-items-center bg-blur d-flex justify-content-center popup-youtube position-absolute rounded-circle start-50 text-white top-50 translate-middle video-icon z-1" href="https://www.youtube.com/watch?v=0O2aH4XLbto">
            <i class="fa-solid fa-play fs-20"></i>
        </a>
    </div>
    <!-- end /. about video -->
</div>
<!-- start about section -->
<div class="py-5">
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8">
                <!-- start section header -->
                <div class="section-header text-center mb-5" data-aos="fade-down">
                    <!-- start subtitle -->
                    <div class="d-inline-block font-caveat fs-1 fw-medium section-header__subtitle  text-primary">Sobre nosotros</div>
                    <!-- end /. subtitle -->
                    <!-- start title -->
                    <h2 class="display-5 fw-semibold mb-3 section-header__title ">Nuestra misión es unir a viajeros con expertos, ofreciéndoles experiencias de viaje enriquecidas.</h2>
                    <!-- end /. title -->
                    <!-- start description -->
                    <div class="sub-title fs-16">Descubre las especialidades que tenemos disponibles. <a > <span class="text-primary fw-semibold">Encuentra lo que estas búscando</span></a></div>
                    <!-- end /. description -->
                </div>
                <!-- end /. section header -->
            </div>
        </div>
        <div class="row g-4 justify-content-between">
            <div class="col-lg-6 col-xl-5">
                <div class="column-text-box left">
                    <h6 class="fs-14 fw-semibold heading-sm l-spacing-1 position-relative text-primary text-uppercase title-line">Una plataforma pensada para todos</h6>
                    <h3 class="display-6">Camiwa </h3>
                    <p>Camiwa ofrece una plataforma global para especialistas en bienestar y salud, como terapeutas, instructores de yoga y medicos especializados. Donde pueden compartir su perfil profesional y conectar con viajeros en busca de experiencias enriquecedoras y mejoras en salud. Para los viajeros, Camiwa es la guía hacia un viaje con propósito, ofreciendo una amplia gama de servicios diseñados para nutrir el cuerpo, la mente y el espíritu, desde retiros de yoga hasta consultas medicas especializadas.</p>
                    <blockquote class="about-blockquote display-6 font-caveat fst-italic my-3"> Camiwa la red que conecta a especialistas con viajeros</blockquote>
                   
                </div>
            </div>
            <div class="col-lg-6 ps-xxl-5">
                <!-- start about image masonry -->
                <div class="ps-xl-4 position-relative">
                    <div class="row g-3">
                        <div class="col-6">
                            <div class="about-image-wrap mb-3 rounded-4">
                                <img src="assets/camiwa/images/about/01.jpg" alt="" class="h-100 w-100 object-fit-cover about-image-one rounded-3">
                            </div>
                            <div class="about-image-wrap rounded-4">
                                <img src="assets/camiwa/images/about/02.jpg" alt="" class="h-100 w-100 object-fit-cover about-image-two rounded-3">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="about-image-wrap mb-3 rounded-4">
                                <img src="assets/camiwa/images/about/03.jpg" alt="" class="h-100 w-100 object-fit-cover about-image-three rounded-3">
                            </div>
                            <div class="about-image-wrap rounded-4">
                                <img src="assets/camiwa/images/about/04.jpg" alt="" class="h-100 w-100 object-fit-cover about-image-four rounded-3">
                            </div>
                        </div>
                    </div>
                    <img src="assets/camiwa/images/png-img/about-shape-1.png" alt="About Shape" class="banner-shape-one position-absolute">
                    <img src="assets/camiwa/images/png-img/about-shape-2.png" alt="About Shape" class="banner-shape-two position-absolute">
                </div>
                <!-- end /. about image masonry -->
            </div>
        </div>
    </div>
</div>