<div class="wrapper" style="padding-top: 80px;">
    <div class="card" style="min-width: 400px;">
      <div class="card-header">
        <h2>Solicitudes</h2>
      </div>
      <div class="card-body">
        <span *ngIf="global.totalRequests == 0">Sin Solicitudes pendientes</span>
        <div class="table-responsive" [hidden]="global.totalRequests == 0">
          <table class="table table-borderless text-nowrap category-list">
            <thead>
              <tr>
                <th>SL</th>
                <th>Avatar</th>
                <th>Nombre</th>
                <th>Pais</th>
                <th>Especialidad</th>
                <th>Estado</th>
                <th class="text-end"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let specialist of global.specialists">
                <tr *ngIf="specialist.status === 'pending'">
                  <th>01</th>
                  <td>
                    <span class="avatar avatar-sm avatar-circle">
                      <img class="avatar-img" *ngIf="specialist.images[0] !== undefined" src="{{specialist.images[0]}}" alt="Image Description">
                      <img class="avatar-img" *ngIf="specialist.images[0] === undefined" src="assets/camiwa-dash/dist/img/avatar/01.jpg" alt="Image Description">
                    </span>
                  </td>
                  <td>{{specialist.full_name}}</td>
                  <td>{{specialist.country}}</td>
                  <td>
                    <span *ngFor="let specialty of specialist.specialties">{{specialty.name}}<br /></span>
                  </td>
                  <td>
                    <div *ngIf="specialist.status === 'pending'" class="align-items-center d-flex fw-medium gap-1 text-primary fs-14">
                      <i class="fa-circle fa-solid fs-10"></i>
                      <span>Pendiente</span>
                    </div>
                    <div *ngIf="specialist.status !== 'pending'" class="align-items-center d-flex fw-medium gap-1 text-success fs-14">
                      <i class="fa-circle fa-solid fs-10"></i>
                      <span>Activo</span>
                    </div>
                  </td>
                  <td class="text-end">
                    <a class="btn btn-black fw-medium btn-sm d-inline-flex align-items-center justify-content-center gap-1">
                      <i class="fa fa-trash"></i>
                      Denegar
                    </a>
                    <a (click)="openModal(specialist)" class="btn btn-outline-primary fw-medium btn-sm d-inline-flex align-items-center justify-content-center gap-1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                      </svg>
                      Detalles
                    </a>
                    <a (click)="approveSpecialist(specialist.id)" class="btn btn-primary fw-medium btn-sm d-inline-flex align-items-center justify-content-center gap-1">
                      <i class="fa fa-check"></i>
                      Aprobar
                    </a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  