<div class="border-0 card header rounded-0 sticky-top">
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand m-0" (click)="global.setRoute('home')">
                <img class="logo-white" src="assets/camiwa/images/logo-white.png" alt="">
                <img class="logo-dark" src="assets/camiwa/images/logo.png" alt="">
            </a>
            <div class="d-flex order-lg-2">
                <!-- start button -->
              
    
    
                <a (click)="global.setRoute('trav-login')" class="btn btn-primary d-none d-sm-flex fw-medium gap-2 hstack rounded-5" style="margin-right: 10px;">
                    <i class="fa fa-user-plus"></i>
                    <div class="vr d-none d-sm-inline-block"></div>
                    <span class="d-none d-sm-inline-block">Ingresar Viajero</span>
                </a>
                <a (click)="global.setRoute('specialist-register')" class="btn btn-primary d-none d-sm-flex fw-medium gap-2 hstack rounded-5" style="background-color: #ffff; color: #00a890;">
                    <i class="fa fa-user-plus"></i>
                    <div class="vr d-none d-sm-inline-block"></div>
                    <span class="d-none d-sm-inline-block">Ingresar Especialista</span>
                </a>
    
    
                <!-- end /. button -->
                <!-- start navbar toggle button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span id="nav-icon" class="">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <!-- end /. navbar toggle button -->
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link "(click)="global.setRoute('home')" aria-current="page" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            Home
                        </a>
                      
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link   material-ripple" (click)="global.setRoute('about')" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="typcn typcn-weather-stormy top-menu-icon"></i>Sobre Camiwa
                        </a>
                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  " role="button" (click)="global.setRoute('mapwrapper')" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            Busqueda avanzada
                        </a>
                      
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" (click)="global.setRoute('contact')"  style="cursor: pointer;"  >Contacto</a>
                    </li>
                    
                </ul>
                <div class="d-sm-none">
                    <!-- start button -->
                    <a href="" class="btn btn-primary d-flex gap-2 hstack justify-content-center rounded-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                        <div class="vr d-none d-sm-inline-block"></div>
                        <span>Add Listing</span>
                    </a>
                    <!-- end /. button -->
                </div>
            </div>
        </div>
    </nav>
    <!-- end /. navbar -->
    <!-- start header search bar  -->
    <div class="border-bottom border-top p-3 p-xl-0 search-bar">
        <div class="row g-3 g-xl-0">
            <!-- search bar title -->
            <div class="col-12 d-xl-none">
                <div class="collapse show" id="CollapseText">
                    <h2 class="fw-semibold text-center search-bar-title mb-0">Consigue el especialista<br> que   <span class="font-caveat text-primary">deseas</span></h2>
                </div>
            </div>
          
        </div>
    </div>
    <!-- end /. header search bar  -->
</div>