<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
  <div class="modal-content" style="border: none;">
    <div class="modal-header" style="border: none;">
      <h5 class="modal-title" style="font-weight: bold;" [hidden]="global.modalType != 'view'">Detalles del Especialista
      </h5>
      <h5 class="modal-title" style="font-weight: bold;" [hidden]="global.modalType != 'request'">Detalles de Solicitud
      </h5>
      <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
    </div>
    <div class="modal-body">
      <div class="row" style="padding-bottom: 5%;" [hidden]="!imageSelected">
        <div class="">
          <span >
            <a (click)="unselectImg()" class="btn btn-outline-default fw-medium btn-sm d-inline-flex align-items-center justify-content-center gap-1">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>

            </a>
          </span>
      
        </div>
      </div>
      <div class="row" [hidden]="!imageSelected">
        <img src="{{img}}">
      </div>
      <div class="row" [hidden]="imageSelected">
        <div class="col-md-4">
          <p><strong>Nombre Completo:</strong> {{ global.previewRequest.full_name }}</p>
          <p><strong>Dirección:</strong> {{ global.previewRequest.address }}</p>
          <p><strong>Ciudad:</strong> {{ global.previewRequest.city }}</p>
          <p><strong>País:</strong> {{ global.previewRequest.country }}</p>
          <p><strong>Email:</strong> {{ global.previewRequest.email }}</p>
          <p><strong>Teléfono:</strong> {{ global.previewRequest.phone }}</p>
          <p><strong>Documentos:</strong></p>
          <ul class="list-unstyled">
            <li *ngFor="let document of global.previewRequest.documents">
              <img src="{{document}}" class="img-fluid mb-2" alt="Documento" style="cursor: pointer;"
                (click)="setimage(document)">
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <p><strong>Profesión:</strong> {{ global.previewRequest.profession }}</p>
          <p><strong>Área de Estudio:</strong> {{ global.previewRequest.studyArea }}</p>
          <p><strong>Universidad:</strong> {{ global.previewRequest.university }}</p>
          <p><strong>Año de Graduación:</strong> {{ global.previewRequest.graduationYear }}</p>
          <p><strong>Certificados:</strong></p>
          <ul class="list-unstyled">
            <li *ngFor="let certificate of global.previewRequest.certificates">
              <img src="{{certificate}}" class="img-fluid mb-2" alt="Certificado" style="cursor: pointer;"
                (click)="setimage(certificate)">
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <p><strong>Especialidades:</strong></p>
          <ul>
            <li *ngFor="let specialty of global.previewRequest.specialties">{{ specialty.name }}</li>
          </ul>
        </div>
      </div>
      <div class="row" style="padding-bottom: 5%;" [hidden]="imageSelected">
        <div class="text-end">
          <a class="btn btn-danger fw-medium btn-sm d-inline-flex align-items-center justify-content-center gap-1">
            <i class="fa fa-trash"></i>
            Borrar
          </a>
          <span [hidden]="global.modalType != 'view'">
            <a (click)="unapproveSpecialist( global.previewRequest.id)"
              class="btn btn-outline-warning fw-medium btn-sm d-inline-flex align-items-center justify-content-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                viewBox="0 0 16 16">
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
              </svg>
              In-habilitar
            </a>
          </span>
          <span [hidden]="global.modalType != 'request'">

            <a (click)="approveSpecialist( global.previewRequest.id)"
              class="btn btn-outline-primary fw-medium btn-sm d-inline-flex align-items-center justify-content-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                viewBox="0 0 16 16">
                <path
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
              </svg>
              Habilitar
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>