<div class="map-wrapper" [hidden]="authRest.getType()=='admin'" >
    <!-- start sidebar filters -->
    <div class="sidebar-filters js-sidebar-filters-mobile" >
        <!-- filter header -->
        <div class="border-bottom d-flex justify-content-between align-items-center p-3 sidebar-filters-header d-xl-none">
            <div class="align-items-center btn-icon d-flex filter-close justify-content-center rounded-circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                </svg>
            </div>
            <span class="fs-3 fw-semibold">Filtros</span>
            <span class="text-primary fw-medium">Limpiar</span>
        </div>
        <!-- end /. filter header -->
        <div class="sidebar-filters-body p-3 p-xl-4">
            <p><strong> Filtros de búsqueda avanzados</strong></p>
            <div class="mb-4 border-bottom pb-4">
                <div class="mb-3">
                    <h4 class="fs-5 fw-semibold mb-2">Categorias</h4>
                </div>
                <!-- Start Form Check -->
                <div class="form-check mb-2" *ngFor="let category of global.categories" [hidden]="category.status!='active'">
                    <input class="form-check-input" type="checkbox" value="" id="skillsOne">
                    <label class="form-check-label" for="skillsOne">{{category.name}}<span class="count fs-13 ms-1 text-muted">(62)</span></label>
                </div>
                <!-- End Form Check -->
 
               
                <!-- End Form Check -->
            </div>
            <div class="mb-4 border-bottom pb-4">
                <div class="mb-3">
                    <h4 class="fs-5 fw-semibold mb-1">Ordenar por</h4>
                </div>
                <!-- Start Select2 -->
                <select class="form-select">
                    <option value="1">Destacados</option>
                    <option value="2">Top 10</option>
                    <option value="5">A-Z</option>
                </select>
                <!-- /.End Select2 -->
            </div>
            <!-- start apply button -->
            <!-- <button type="button" class="btn btn-primary ">Aplicar filtros</button> -->
            <!-- end /. apply button -->
            <!-- start clear filters -->
            <!-- <a  class="align-items-center d-flex fw-medium gap-2 justify-content-center mt-2 small text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                </svg>
                restablecer filtro
            </a> -->
            <!-- end /. clear filters -->
        </div>
    </div>
    <!-- end /. sidebar filters -->
    <!-- start items content -->
    <div class="items-content bg-light d-flex flex-column py-3 p-xl-4" style="width: 100% !important;">
        <div class="d-flex flex-wrap align-items-center mb-3 gap-2">
            <div class="col fs-18 text-nowrap"> <span class="fw-bold text-dark">{{global.specialties.length}}</span> Todas la   s especialidads</div>
            <!-- start button group -->
            <div class="border-0 card d-inline-flex flex-row flex-wrap gap-1 p-1 rounded-3 shadow-sm">
                <a (click)="global.setView('grid')" class="btn btn-light btn-sm px-2 py-1"><i class="fa-solid fa-border-all"></i></a>
                <a (click)="global.setView('list')" class="btn btn-light btn-sm px-2 py-1"><i class="fa-solid fa-list"></i></a>
            </div>
            <!-- end /. button group -->
        </div>
        <div class="position-relative z-1 header-categories" style="padding-bottom: 3%;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row g-2 g-sm-4">
                           
                            <div class="col-6 col-sm-4 col-xl-2" *ngFor="let especialty of global.specialties;let i = index" [hidden]="i>5">
                                <a  class="border-0 card card-hover d-block header-cat-box px-3 py-4 rounded-4 shadow text-center">
                                    <img src="assets/camiwa/images/icon/handyperson.png" alt="" height="40">
                                    <div class="fw-semibold mt-4">{{especialty.name}}</div>
                                    <div class="align-items-center badge bg-light font-caveat fs-6 fw-semibold justify-content-center mt-2 py-1 rounded-4 text-primary">56</div>
                                </a>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="global.viewSelected=='list'" class="row g-4 mb-5">
            <div class="col-sm-3 col-lg-3 col-xl-12 col-xxl-3 d-flex" *ngFor="let specialist of global.specialists" >
                <!-- start listing card -->
                <div class="card rounded-3 border-0 shadow-sm w-100 flex-fill overflow-hidden card-hover flex-fill w-100 card-hover-bg" [hidden]="specialist.status!='approved'">
                    <!-- start card link -->
                    <a  class="stretched-link"></a>
                    <!-- end /. card link -->
                    <!-- start card image wrap -->
                    <div class="card-img-wrap card-image-hover overflow-hidden dark-overlay">
                        <div class="bg-primary card-badge d-inline-block text-white position-absolute">Verificado</div>
                        <img src="{{specialist.images[0]}}" aclass="object-fluid" style="display: block;
                        max-width: 210px;
                        max-height: 210px;
                        margin: 0 auto;
                        border-radius: 5%;
                        object-fit: cover;">
                        <div class="d-flex end-0 gap-2 me-3 mt-3 position-absolute top-0 z-1">
                            <a  (click)="viewDetail(specialist)"  class="btn-icon shadow-sm d-flex align-items-center justify-content-center text-primary bg-light rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ver detalles" style="cursor: pointer;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                        </a>
                        </div>
                    </div>
                    <!-- end /. card image wrap -->
                    <div class="d-flex flex-column h-100 position-relative p-3">
                        <div class="align-items-center bg-primary cat-icon d-flex justify-content-center position-absolute rounded-circle text-white"><i class="fa-solid fa-shop"></i></div>
                        <div class="align-items-center d-flex flex-wrap gap-1 text-primary card-start mb-1">
                            <!-- start ratings -->
                            <i class="fa-solid fa-star"></i>
                            <!-- end /. ratings -->
                            <!-- start ratings counter text -->
                            <span class="fw-medium text-primary"><span class="fs-6 fw-semibold me-1">(4.5)</span>2,391 reviews</span>
                            <!-- end /. ratings counter text -->
                        </div>
                        <!-- start card title -->
                        <h5>{{specialist.full_name}} 
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0090ff" class="bi bi-patch-check-fill text-success" viewBox="0 0 16 16">
                                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                            </svg>

                        </h5>
                        <span class="small">
                            <span *ngFor="let specialty of specialist.specialties"> {{specialty.name}} <br/></span>
                           
                            <!-- Especialidad -->
                          
                        </span>
                                <p class="mb-0 small">Resumen de servicios</p>
                                <a  class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#9b9b9b" class="bi bi-compass" viewBox="0 0 16 16">
                                        <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                        <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
                                    </svg>
                                    <span>Ubicación</span>
                                </a>
                                <a  class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                                    <span>$</span> 200COP
                                </a>
                        <!-- end /. card title -->
                        <!-- start contact content -->
                        <div class="d-flex flex-wrap gap-3 mt-2 z-1">
                            <a  (click)="viewDetail(specialist)"  class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                                <button type="submit" class="btn btn-primary  w-100" style="color: #000;
                                --bs-btn-bg: #fff;">Ver perfil</button>

                            </a>
                            <a  class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                                <button type="submit" class="btn btn-primary  w-100">Pedir cita</button>

                            </a>
                        </div>

                        <!-- end contact content -->
                    </div>
                </div>
                <!-- end /. listing card -->
            </div>
        </div>
        <div class="container-xxl" [hidden]="global.viewSelected=='grid'">
            <!-- start card list -->
            <div *ngFor="let specialist of global.specialists" [hidden]="specialist.status!='approved'" class="border-0 card card-hover flex-fill overflow-hidden rounded-3 shadow-sm w-100 card-hover-bg mb-3">
                <a  (click)="viewDetail(specialist)"  class="stretched-link"></a>
                <div class="card-body p-0">
                    <div class="g-0 h-100 row">
                        <div class="col-lg-3 col-md-5 col-sm-4 col-xxl-2 position-relative">
                            <div class="card-image-hover light-overlay h-100 overflow-hidden position-relative">
                                <!-- start image -->
                                <img src="{{specialist.images[0]}}" alt="" class="h-100 w-100 object-fit-cover" style="border-radius: 5%;">
                                <!-- end /. image -->
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-7 col-sm-8 col-xxl-10 p-3 p-lg-4 p-md-3 p-sm-4">
                            <div class="d-flex flex-column h-100">
                                <div class="d-flex end-0 gap-2 me-3 mt-3 position-absolute top-0 z-1">
                                    <a  class="btn-icon shadow-sm d-flex align-items-center justify-content-center text-primary bg-light rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Bookmark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="align-items-center d-flex flex-wrap gap-1 text-primary  card-start mb-2">
                                    <!-- start ratings -->
                                    <i class="fa-solid fa-star"></i>
                                    <!-- end /. ratings -->
                                    <!-- start rating counter text -->
                                    <span class="fw-medium text-primary"><span class="fs-6 fw-semibold me-1">(4.5)</span>2,391 reviews</span>
                                    <!-- end /. rating counter text -->
                                </div>
                                <!-- start card title -->
                                <h4>{{specialist.full_name}}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0090ff" class="bi bi-patch-check-fill text-success" viewBox="0 0 16 16">
                                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                                    </svg>
                                </h4>
                                <span class=" small">
                                    <span *ngFor="let specialty of specialist.specialties"> {{specialty.name}} <br/></span>
                           
                                    <!-- Especialidad -->
                                  
                                </span>
                                <p class="mb-0 small">Resumen de servicios</p>
                                <a  class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#9b9b9b" class="bi bi-compass" viewBox="0 0 16 16">
                                        <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                        <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
                                    </svg>
                                    <span>{{specialist.address}}</span>
                                </a>
                                <a  class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                                    <span>$</span> 200COP
                                </a>
                                <div class="d-flex flex-wrap gap-3 mt-2 z-1">
                                    <a (click)="viewDetail(specialist)" class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                                        <button type="submit" class="btn btn-primary  w-100" style="color: #000;
                                        --bs-btn-bg: #fff;">Ver perfil</button>
    
                                    </a>
                                    <a  class="d-flex gap-2 align-items-center fs-13 fw-semibold">
                                        <button type="submit" class="btn btn-primary  w-100">Consultar</button>
                                    </a>
                                </div>
                                <!-- end contact content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <!-- start pagination -->
       <nav class="justify-content-center mt-auto pagination align-items-center">
            <a class="prev page-numbers" >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
                </svg>
                Anterior
            </a>
            <span class="page-numbers current">1</span>
            <!-- <a class="page-numbers" >2</a> -->
            <a class="next page-numbers" >
                Siguiente
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
            </a>
        </nav>
        <!-- end /. pagination -->
    </div>
    <!-- end /. items content -->
    
</div>